@charset "UTF-8";

body {
  background-image: url(background.png);
  background-size: cover;
}

.chrome-btn {
  background-color: black ;
  color: white ;
  border-color: white;
}

.gm-btn {
  background-color: white ;
  color: black ;
}

.browser-icon {
  right: 5px;
  bottom: 2px;
  position: relative;
}

.btn {
  transition: 0.05s;
  font-size: 1.3rem !important;
  padding: 12px 33px !important;
}