@charset "UTF-8";

@font-face {
    font-family: baba-pro-bold;
    src: url('../../../assets/fonts/baba-pro-bold/baba-pro-bold.otf') format('opentype'),
         url('../../../assets/fonts/baba-pro-bold/baba-pro-bold.ttf') format('truetype'),
         url('../../../assets/fonts/baba-pro-bold/baba-pro-bold.woff') format('woff'),
         url('../../../assets/fonts/baba-pro-bold/baba-pro-bold.woff2') format('woff2');
}

main {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: bottom center;
    background-attachment: scroll
}

iframe:hover { pointer-events: none } /* to support assets/js/src/smoothscroll.js */

/* Scrollbar */
@supports (scrollbar-color: rgb(210,210,210)) { * { scrollbar-color: rgb(210,210,210) #1a1a1a }} /* Firefox */
@supports (scrollbar-width: thin) { * { scrollbar-width: thin }}
::-webkit-scrollbar { width: 10px ; height: 10px } /* Chromium/Safari */
::-webkit-scrollbar-thumb { background: white ; border-radius: 4px ; border: 1px black solid }
::-webkit-scrollbar-track { background: #1a1a1a }
::-webkit-scrollbar-thumb:hover { background: rgb(210,210,210) }

@supports (cursor: url('../../../assets/images/cursors/futuristic/pointer.cur'), auto) {
    body, iframe { cursor: url('../../../assets/images/cursors/futuristic/pointer.cur'), auto }}
@supports (cursor: url('../../../assets/images/cursors/futuristic/target.gif'), auto ) {
    button:hover, a:hover { cursor: url('../../../assets/images/cursors/futuristic/target.gif'), auto }}
.github-corner { position: fixed ; right: 0 ; top: 0 ; z-index: 1 ; height: auto ; width: 7rem }
.hero-logo { margin: 21px 0 ; max-width: 75% ; height: auto }
.py-5 { padding-bottom: 1rem !important } /* Decrease bottom-padding of header */
h1 { color: white ; }

/* Buttons */
.install-btn {
    --transition-style: 0.2s ease all ;
    color: black ; font-family: baba-pro-bold, sans-serif ; font-size: 1.3rem !important ;
    padding: 12px 33px !important ; margin: 0 !important ; border-radius: 0 ;

    /* eslint-disable -- avoid false no-invalid-property positive https://github.com/eslint/css/issues/40 */
    transition: var(--transition-style) ;
        -webkit-transition: var(--transition-style) ; -moz-transition: var(--transition-style) ;
        -o-transition: var(--transition-style) ; -ms-transition: var(--transition-style)
    /* eslint-enable */
}
.chrome-btn { background-color: #01FF18 ; border-color: #01FF18 ; box-shadow: -3px 6px 41px #01FF18 }
.chrome-btn:hover { background-color: #01FF18 ; border-color: #01FF18 ; box-shadow: -3px 6px 61px #01FF18 }
.edge-btn { background-color: #45F8FF ; border-color: #45F8FF ; box-shadow: 1px 6px 101px #45F8FF }
.edge-btn:hover { background-color: #45F8FF ; border-color: #45F8FF ; box-shadow: 1px 6px 81px #45F8FF }
.firefox-btn { background-color: #F88 ; border-color: #F88 ; box-shadow: -3px 6px 41px #F88 }
.firefox-btn:hover { background-color: #F88 ; border-color: #F88 ; box-shadow: -3px 6px 61px #F88 }
.gm-btn { background-color: white ; border-color: white ; box-shadow: 3px 6px 41px white }
.gm-btn:hover { color: lightgray ; background-color: white ; border-color: white ; box-shadow: 3px 6px 61px white }
.browser-icon { right: 5px ;bottom: 2px ; position: relative }

/* Featured logos */
.featured-logos { padding: 13px }
.featured-logos a {
    --transition-style: 0.05s ease all ;
    text-decoration: none ;

    /* eslint-disable -- avoid false no-invalid-property positive https://github.com/eslint/css/issues/40 */
    transition: var(--transition-style) ;
        -webkit-transition: var(--transition-style) ; -moz-transition: var(--transition-style) ;
        -o-transition: var(--transition-style) ; -ms-transition: var(--transition-style)
    /* eslint-enable */
}
.featured-logos a:hover { opacity:.75 }

@media (max-width: 991px) { .hero-logo { max-width: 100% }} /* Full-width hero logo @ < 991px */
@media (max-width: 573px) { .install-btn { margin: auto }} /* Center buttons @ < 558px */

/* Non-baseline features */
@supports (overflow: clip) { body { overflow: clip }}
@supports (user-select: none) { body, button, input, select, textarea { user-select: none }}
@supports (cursor: pointer) {
    .highlight:focus, .highlight:hover, .toggle-switch .track, .cjs-span { cursor: pointer }}

