@charset "UTF-8";

@font-face {
    font-family: baba-pro-bold;
    src: url('../assets/fonts/baba-pro-bold/baba-pro-bold.otf') format('opentype'),
         url('../assets/fonts/baba-pro-bold/baba-pro-bold.ttf') format('truetype'),
         url('../assets/fonts/baba-pro-bold/baba-pro-bold.woff') format('woff'),
         url('../assets/fonts/baba-pro-bold/baba-pro-bold.woff2') format('woff2');
}

main {
    background-image: url(background.png);
    background-size: cover;
    background-position: bottom center;
    background-attachment: scroll;
}

iframe:hover { pointer-events: none } /* to support assets/js/src/smoothscroll.js */

/* FF scrollbar */
:root { scrollbar-width: thin ; scrollbar-color: rgb(210,210,210) #1a1a1a }

/* Chrome/Safari scrollbar */
::-webkit-scrollbar {  width: 8px ; background-color: #1a1a1a }
::-webkit-scrollbar-thumb { background-color: rgb(210,210,210) }
::-webkit-scrollbar-thumb:hover { background-color: #999 }

body, iframe { cursor: url('../media/images/cursors/futuristic/pointer.cur'), auto }
button:hover, a:hover { cursor: url('../media/images/cursors/futuristic/target.gif'), auto }

.github-corner {
    position: fixed ;
    right: 0 ; top: 0 ; z-index: 1 ;
    height: auto ; width: 7rem ;
}

.hero-logo { margin: 21px 0 ; max-width: 75% ; height: auto }

@media (max-width: 991px) { .hero-logo { max-width: 100% }} /* Full-width hero logo @ < 991px */
@media (max-width: 573px) { .install-btn { margin: auto }} /* Center buttons @ < 558px */

.py-5 { padding-bottom: 1rem !important } /* Decrease bottom-padding of header */

h1 {
    color: white ;
}

.install-btn {
    color: black ;
    font-family: baba-pro-bold ;
    transition: 0.2s ease all ;
    font-size: 1.3rem !important ;
    padding: 12px 33px !important ;
    border-radius: 0 ;
}

.chrome-btn {
    background-color: #01FF18 ; border-color: #01FF18 ;
    box-shadow: -3px 6px 41px #01FF18 ;
}

.chrome-btn:hover {
    background-color: #01FF18 ; border-color: #01FF18 ;
    box-shadow: -3px 6px 61px #01FF18 ;
}

.edge-btn {
    background-color: #45F8FF ; border-color: #45F8FF ;
    box-shadow: 1px 6px 101px #45F8FF ;
}

.edge-btn:hover {
    background-color: #45F8FF ; border-color: #45F8FF ;
    box-shadow: 1px 6px 81px #45F8FF ;
}

.gm-btn {
    background-color: white ; border-color: white ;
    box-shadow: 3px 6px 41px white ;
}

.gm-btn:hover {
    color: lightgray ;
    background-color: white ; border-color: white ;
    box-shadow: 3px 6px 61px white ;
}

.browser-icon {
    right: 5px ;
    bottom: 2px ;
    position: relative ;
}

.featured-logos { padding: 13px }
.featured-logos a { text-decoration: none ; transition: all ease 0.05s }
.featured-logos a:hover { opacity:.75 }
